.screen {
  display: grid;
  place-items: center;
}

.screen-card {
  width: 90%;
  max-width: 760px;
  border-radius: 10px !important;
  position: relative;
  color: white !important;
  fill: white !important;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3) !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  overflow: hidden;
}

.screen-card-overlay {
  border-radius: 10px;
  filter: blur(5px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.card-header {
  border: none !important;
}
.screen__title {
  font-size: 1.5rem !important;
  font-family: var(--fnt-secondary) !important;
  font-weight: 700 !important;
}
.screen__date {
  font-size: 1.2rem;
}

.screen-card box-icon {
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.screen-card box-icon:hover .screen-card box-icon:focus {
  transform: translateY(-2px) scale(1.1);
}

.countdown {
  display: flex;
  justify-content: space-between;
}
.months,
.days,
.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.months__num,
.days__num,
.hours__num,
.minutes__num,
.seconds__num {
  min-width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 1.4rem;
}

.activity-actions box-icon:hover {
  transform: scale(1.1) translateY(3px);
}

@media (min-width: 560px) {
  .months__num,
  .days__num,
  .hours__num,
  .minutes__num,
  .seconds__num {
    min-width: 65px;
    height: 65px;
    font-size: 1.8rem;
  }
  .months__label,
  .days__label,
  .hours__label,
  .minutes__label,
  .seconds__label {
    font-size: 18px;
  }

  .screen__title {
    font-size: 1.9rem !important;
  }
  .screen__date {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .screen__title {
    font-size: 2.5rem !important;
  }
  .screen__date {
    font-size: 1.8rem;
  }

  .months__num,
  .days__num,
  .hours__num,
  .minutes__num,
  .seconds__num {
    min-width: 90px;
    height: 90px;
    font-size: 3.4rem;
  }
  .months__label,
  .days__label,
  .hours__label,
  .minutes__label,
  .seconds__label {
    font-size: 24px;
  }
}
